# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Database
*.db
*.sqlite3

# Alembic
alembic/versions/

# Environment variables
.env

# IDEs
.vscode/
.idea/
